<form name="opp_select" action="" method="post" role="form">
    {{ form_row(form.opportunity) }}
    <input id="oppSelect" class="btn btn-xs active btn-primary" type="submit" value="Select opportunity">
</form>
