<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome! {{ title }}{% endblock %}</title>
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        {% block stylesheets %}
            {% stylesheets 
                '@TruckeeMatchBundle/Resources/public/css/*'
                'css/bootstrap.css'
                filter='cssrewrite' output='css/compiled/app.css' 
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>{% set type = app.user|userType %}
        <div class="row">
            <div class="col-md-6">
                <h4>{% include 'BraincraftedBootstrapBundle::flash.html.twig' %}</h4>
            </div>    
        </div>       
        {% block body %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
