<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>{% set type = app.user|userType %}
        {% block body %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
