<span class="navbar-brand">{{ label_info(type|title~' menu') }} </span>
{{ knp_menu_render('TruckeeMatchBundle:Builder:'~type~'Menu') }}
<p class="navbar-text navbar-right"><a href="#" class="navbar-link">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></p>
