{% extends 'base.html.twig' %}
{% block body %}
    <ul class="list-unstyled">
        <li style="margin: 5px;"><a class="btn btn-primary btn-xs active" href="{{ path("reg_volunteer") }}">Register as a volunteer</a>
        <li style="margin: 5px;"><a class="btn btn-primary btn-xs active" href="{{ path("opp_search") }}">Search for opportunities</a>
    </ul>
{% endblock body %}
