<p>We have just activated {{ organization.orgname }}.  You may now login
and create an opportunity.  Once an opportunity is created we can
the alert volunteers whose interests match those of your organization
about the new opportunity.</p>

<p>Thank you very much for participating in our volunteer matching program.  
Please do not hestitate to let us know if there's anything else we can
do to assist in meeting your volunteer needs.</p>

<p>The Team.</p>
