{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
    <p>{{ title }}</p>
    {% for template in optionalTemplates %}
        {% include template %}
    {% endfor %}<br>
    {% include "Admin/newOrgs.html.twig" %}
    </div>
{% endblock %}
