{% extends 'base.html.twig' %}
{% block body %}        
    <p>{{ title }}</p>
    <div class="row">
    {% for template in templates %}
        <div class="col-md-6">
        {% include template %}
        </div>
        {% endfor %}<br>
        <div class="col-md-6">
            {#{% include "AppBundle:Admin:newOrgs.html.twig" %}#}
        </div>
    </div>
{% endblock %}
