<p>We have just listed a new volunteer opportunity from {{ opportunity.organization.orgname }}.</p>

<ul>
    <li>Opportunity: {{ opportunity.oppname }}</li>
    <li>Description: {{ opportunity.description }}</li>
</ul>

<p>The Volunteer people!</p>
