<h4>{{label_info('Incoming organizations') }}</h4>

{% if newOrgs|length > 0 %}
    {% for element in newOrgs %}
        {% set org = element.org %}
        {% include "Admin/newOrg_content.html.twig" %}
    {% endfor %}
{% else %}
    <p>There are no incoming organizations</p>
{% endif %}
