<div class="row">
    <div class="col-md-3">
        Expiring opportunity e-mails
    </div>
    <div class="col-md-2 text-right" id="expiringOppEmails30Day">
        {{ dashboard.expiringOppEmails30Day }}
    </div>
    <div class="col-md-2 text-right" id="expiringOppEmails">
        {{ dashboard.expiringOppEmails }}
    </div>
</div>
