<div class="row">
    <div class="col-md-3">
        New opportunity e-mails
    </div>
    <div class="col-md-2 text-right" id="newOppEmails30Day">
        {{ dashboard.newOppEmails30Day }}
    </div>
    <div class="col-md-2 text-right" id="newOppEmails">
        {{ dashboard.newOppEmails }}
    </div>
</div>
