<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-2 text-right">
        Active
    </div>
    <div class="col-md-2 text-right">
        Inactive
    </div>
    <div class="col-md-2 text-right">
        Expired
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <strong>Opportunity status</strong>
    </div>
    <div class="col-md-2 text-right" id="oppActive">
        {{ dashboard.oppActive }}
    </div>
    <div class="col-md-2 text-right" id="oppInactive">
        {{ dashboard.oppInactive }}
    </div>
    <div class="col-md-2 text-right" id="oppExpired">
        {{ dashboard.oppExpired }}
    </div>
</div>
