<div class="row">
    <div class="col-md-3">
        E-mail from search form
    </div>
    <div class="col-md-2 text-right" id="oppSearchForm30Day">
        {{ dashboard.oppSearchForm30Day }}
    </div>
    <div class="col-md-2 text-right" id="oppSearchFormAll">
        {{ dashboard.oppSearchFormAll }}
    </div>
</div>
