<div class="row">
    <div class="col-md-3">
        <strong>Organization registration</strong>
    </div>
</div>
<div class="row" id="registration">
    <div class="col-md-3">
        New registrations
    </div>
    <div class="col-md-2 text-right" id="newOrg30Day">
        {{ dashboard.newOrg30Day }}
    </div>
    <div class="col-md-2 text-right" id="newOrg">
        {{ dashboard.newOrg }}
    </div>
</div>
<div class="row" id="registration">
    <div class="col-md-3">
        New opportunities
    </div>
    <div class="col-md-2 text-right" id="newOpps30Day">
        {{ dashboard.newOpps30Day }}
    </div>
    <div class="col-md-2 text-right" id="newOpps">
        {{ dashboard.newOpps }}
    </div>
</div>
