<div class="row">
    <div class="col-md-3">
        <strong>Volunteer registration</strong>
    </div>
</div>
<div class="row" id="registration">
    <div class="col-md-3">
        New registrations
    </div>
    <div class="col-md-2 text-right" id="newVols30Day">
        {{ dashboard.newVols30Day }}
    </div>
    <div class="col-md-2 text-right" id="newVols">
        {{ dashboard.newVols }}
    </div>
</div>
