<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-2 text-right">
        E-mail on
    </div>
    <div class="col-md-2 text-right">
        E-mail off
    </div>
    <div class="col-md-2 text-right">
        Locked
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <strong>Volunteer status</strong>
    </div>
    <div class="col-md-2 text-right" id="volReceivingMailOn">
        {{ dashboard.volReceivingMailOn }}
    </div>
    <div class="col-md-2 text-right" id="volReceivingMailOff">
        {{ dashboard.volReceivingMailOff }}
    </div>
    <div class="col-md-2 text-right" id="volLocked">
        {{ dashboard.volLocked }}
    </div>
</div>
