{% extends 'base.html.twig' %}
{% block body %}
    <h4>{{ label_info('Edit '~ organization.orgName) }}</h4>
    <form name="organization" method="post" action="" class="form-inline">
        {{ form_widget(form._token) }}
        {%for template in templates %}
            {% include template %}
        {% endfor %}
        {{ form_widget(form.save) }}
    </form>
{% endblock %}
