{% extends 'base.html.twig' %}
{% block body %}
<ul class="list-unstyled">
    {% if app.user is null %}
    <li style="margin: 5px;"><a class="btn btn-primary btn-xs active" href="{{ path("reg_staff") }}">Register organization</a>
        {% endif %}
</ul>
{% endblock body %}
