{% block body_html %}
    <p>Hello <b>{{ user.firstName }} {{ user.lastName }}</b>!</p>

    <p>Please confirm by visiting <a href="{{ confirmationUrl }}">this link</a>.</p>

    <p>Thank you.</p>

    <p>The Team</p>
{% endblock %}