<form action="{{ path('staff_registration') }}" method="POST" class="form-inline">
    {{ form_widget(form._token) }}
    {% for template in templates %}
        {% include template %}
    {% endfor %}
</form>
