<form action="{{ path('staff_registration') }}" method="POST">
    {{ form_widget(form._token) }}
    {% for template in templates %}
        {#{{ template}}#}
        {% include template %}
    {% endfor %}
</form>
