{% extends 'base.html.twig' %}

{% block body %}
    <h4 onclick="volhelp();">{{label_info('Volunteer Form <span class="glyphicon glyphicon-question-sign"></span>') }}</h4>
    
    <div id="dialog"><style>.ui-dialog-titlebar-close {
                display: none;
            }</style></div>
            {% block fos_user_content %}
                {% include 'Volunteer/volunteer_content.html.twig' %}
            {% endblock fos_user_content %}
    <script src="{{ asset('js/dialog.js') }}"></script>
{% endblock %}
