{% extends 'base.html.twig' %}
{% block body %}
    <h4>{{label_info('Volunteer Form') }}</h4>
    {% block fos_user_content %}
        {% include 'Volunteer/volunteer_content.html.twig' %}
    {% endblock fos_user_content %}
{% endblock %}
