{% include "Criteria/skillHeader.html.twig" %}
{% for skill in formSkills.skills %}
    <div class="row" {% if loop.index is even %}style="background-color: yellow"{% endif %}>
        {% include "Criteria/skillUsage.html.twig" %}        
    </div>
{% endfor %}
{% include "Criteria/skillAllUsage.html.twig" %}
{% include "Criteria/skillAdd.html.twig" %}
