<div class="row">
    <div class="col-md-3">
        All
    </div>
    <div class="col-md-1 text-right">
    </div>
    <div class="col-md-2 text-right">
    </div>
    <div class="col-md-2 text-right">
        {{ fociUsage['opportunity'][allId] }}
    </div>
</div>
