<hr>
<div class="row">
    <div class="col-md-3">
        Add new skill
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ form_widget(formSkill.skill) }}
    </div>
    <div class="col-md-2 text-right">
    </div>
    <div class="col-md-2 text-right">
    </div>
    <div class="col-md-1 text-center">
        {{ form_widget(formSkill.enabled) }}
    </div>
</div>
