<div class="row">
    <div class="col-md-3">
        <h4>{{ label_info("Skill") }}</h4>
    </div>
    <div class="col-md-1 text-center">
        Enabled 
    </div>
    <div class="col-md-2 text-right">
        Volunteer<br/>
        searches
    </div>
    <div class="col-md-2 text-right">
        Opportunity<br/>
        searches
    </div>
</div>
